{%extends "base.html" %}
{%block title%}Become a Sponsor | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
<!-- Main -->
<h1>Become a Sponsor</h1>

<!-- Sponsorship -->

<hr>
<h3>Sponsorship</h3>
<p>PostgresOpen is a perfect opportunity for companies to reach
   out to users and developers of PostgreSQL, or to just "give back" to the
   community. Our sponsorship program covers a wide range of levels, from cheap
   to big scale. If you are interested in sponsoring the conference, please
   <b><a href="mailto:program2017@postgresopen.org">contact us!</a></b>
</p>
<p>
	The PostgresOpen 2017 prospectus is available <b><a href="{{media("files/prospectus_2017.pdf")}}">here!</a></b>
</p>
<hr>

{% endblock %}
