{%extends "base.html" %}
{%block title%}Call For Papers | PostgresOpen SV 2018{%endblock%}
{%block pagetitle%}PostgresOpen SV 2018{%endblock%}
{%block content%}
<!-- Main -->
<h1>Call for Papers</h1>

<!-- Sponsorship -->
  <hr>
  <h3>General Information</h3>

  <p>
		PostgresOpen SV 2018 will be held on September 6th - 7th in
	  San Francisco at the Parc 55. It will cover topics for PostgreSQL users,
	  developers and contributors, as well as decision and policy makers. For
	  more information about the conference, please see
		<b><a href="{{link("about/")}}">About</a></b>.
  </p>

  <p>
		Please note that PostgresOpen is open to all audiences and ages.  All talks
	  are expected to be appropriate for a diverse group.  Please see our Conference
		<b><a href="{{link("policies/")}}">Policies</a></b> and feel free to contact the
	  <b><a href="mailto:program2018@postgresopen.org">Committee</a></b> with any questions.
  </p>
  <hr>

  <h3>Important Dates</h3>
  <p>The submission deadline for tutorials and regular sessions is May 30, 2018.</p>
  <p>The conference commitee will review proposals and notify selected speakers by June 6, 2018.</p>
  <p>The final schedule to be published nearer to the conference dates.</p>
  <p>We will have a lightning talks session again this year! A separate CfP will be made for lightning talks closer to the conference dates.</p>
  <p>
		All selected speakers will get free entry to the conference (excluding
	  training sessions and tutorials). We do not in general cover travel and accommodations
	  for speakers, but may be able to do that in limited cases. If you require
	  assistance with funding to be able to attend, please make a note of this
	  in the Submission Notes field.
  </p>
  <hr>
  <h3>Shortcuts</h3>
  <p>
  <ul>
    <li><b><a href="https://postgresql.us/events/speakerprofile/pgopen2018/">Speaker Profile</a></b></li>
    <li><b><a href="https://postgresql.us/events/callforpapers/pgopen2018/">Talk Submission</a></b></li>
  </ul>
  </p>
  <hr>
  <h3>Detailed Instructions</h3>
  <ul>
    <li>The first step to submit your proposal is to set up, or review for returning speakers, your speaker profile <a href="https://postgresql.us/events/speakerprofile/pgopen2018/">here</a>.
    This system uses the PostgreSQL Community Auth system (the same system used by the PostgreSQL wiki, CommitFest, and pgconf.eu).  Log in
    to the system with your PostgreSQL Community Auth credentials.  Please note that while this is the same code, the speaker profiles are
    not shared between postgresql.eu and postgresql.us.</li>

    <li>Once you've created your profile, this page will provide a link to a form where you can submit your
    talks for PostgresOpen SV 2018. When the site prompts for a login, use your
    regular postgresql.org community account.  Should you already have your speaker profile, you can go to
    the talk submission page directly <a href="https://postgresql.us/events/callforpapers/pgopen2018/">here.</a>
    </li>
  </ul>
  <hr>

  <h3>Session Information</h3>
  <p>Each session will last 45 minutes, and may be on any topic related to PostgreSQL. Suggested topic areas include:</p>
  <ul>
    <li>Developing applications for PostgreSQL</li>
    <li>Administering large scale PostgreSQL installations</li>
    <li>Case studies and/or success stories of PostgreSQL deployments</li>
    <li>PostgreSQL tools and utilities</li>
    <li>PostgreSQL hacking</li>
    <li>Community &amp; user groups</li>
    <li> Tuning the server</li>
    <li>Migrating from other systems</li>
    <li>Scaling/replication</li>
    <li>Benchmarking &amp; hardware</li>
    <li>PostgreSQL related products</li>
  </ul>
  <p>Of course, we're happy to receive proposals for talks on other PostgreSQL-related topics as well.</p>
  <hr>

{% endblock %}
