{%extends "base.html" %}
{%block title%}PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
		<!-- Banner -->
			<section id="banner">
				<h2>POSTGRESOPEN 2017</h2>
				<p> SILICON VALLEY, CA | SEPTEMBER 6-8
				<ul class="actions">
					<li>
						<a href="{{link("tickets/")}}" class="button big">REGISTER</a>
					</li>
				</ul>
			</section>
			<section id="sponsors"><h3>Diamond Partners</h3></section>
<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">

					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color1 fa-cloud"></i>
								<h3>Join Us in San Francisco!</h3>
									<p>PostgresOpen 2017 will be held on September 6th - 8th in Silicon Valley, at the Parc 55 Hilton Hotel.<br>
										The conference delivers two days packed with tutorials and presentations about PostgreSQL and related
										technologies, one day of extended trainings, and the usual hallway and social track!</p>
										<p>View our speaker videos from the 2016 PostgresOpen conference <a href="https://www.youtube.com/playlist?list=PLN8NEqxwuywTaXp0v5O-iO-mBaFb5k8nI">here.</a></p>
										<p><b><a href="mailto:program2017@postgresopen.org?subject=Add Me">Click here to sign up for our mailing list!</a></b></p>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color9 fa-desktop"></i>
								<h3>PostgreSQL Community</h3>
								<p>For over 20 years, PostgreSQL Community works to organize conferences with many technical and business
									talks by developers and key users globally.</p>
									<p>In addition to PostgresOpen, PostgreSQL Europe will be holding a conference in the Fall of 2017 -
									2017.pgconf.eu.
								</p>
							</section>
						</div>
					</div>

					<div class="row 150%">
						<div class="12u 12u$(medium)">
							<section class="box">
								<i class="icon big rounded color6 fa-rocket"></i>
								<h3>Important Dates</h3>
								<hr>
                <b><p>Training: September 6th<br>Conference: September 7th-8th</p></b>
								<hr>
							</section>
						</div>
					</div>
					<div class="row 150%">
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Call for Presentations Opens</b><br> March 24, 2017</li>
									<hr>
									<li><b>Early Bird Registration Opens</b><br> May 15, 2017</li>
									<hr>
									<li><b>Call for Presentations Closes</b><br> May 29, 2017</li>
									<hr>
									<li><b>Speakers Notified of Talk Acceptance</b><br> June 5th, 2017</li>
									<hr>
									<li><b>Sessions Announced</b><br> June 19th, 2017</li>
									<hr>
								</ul>
							</section>
						</div>
						<div class="6u 12u$(medium)">
							<section class="box">
								<ul class="unstyled">
									<li><b>Early Bird Registration Closes</b><br> July 9th, 2017</li>
									<hr>
									<li><b>Schedule Announced</b><br> July 10th, 2017</li>
									<hr>
									<li><b>Regular Registration</b><br> July 9th - September 11th, 2017</li>
									<hr>
									<li><b>Parc 55 Reservation Dealine</b><br> August 15th, 2017</li>
									<hr>
									<li><b>Conference Dates</b><br> September 6th - 8th, 2017</li>
									<hr>
								</ul>
							</section>
						</div>
					</div>
			</div>
		</section>

		<!-- Two -->
<!--		<section id="news" class="wrapper news special">
			<header class="major front">
				<h2>Latest Blogs</h2>
			</header>
			<div id="posts" class="posts horizontal">
			  <div class="overlay"></div>
			</div>
		</section>
-->
{% endblock %}
