{%extends "base.html" %}
{%block title%}Schedule | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
		<!-- Main -->

					<header class="major">
						<span class="header"><img id="side" src="{{media("images/schedule.svg")}}" alt="" /></span>
						<h2>Schedule</h2>
					</header>

          <!-- Sponsorship -->
          <section class="section">
            <hr>
            <h3>Schedule</h3>
            <p>The schedule is not yet available as we are currently accepting papers.
			If you are interested in submitting a talk, please see the <b><a href="{{link("callforpapers/")}}">Call For Papers.</a></b></p>
            <p>The schedule will be posted in July.</p>
            </p>
            <hr>
          </section>

{% endblock %}
