{%extends "base.html" %}
{%block title%}Schedule | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
{% load staticfiles %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
            <span class="header"><img src="{% static 'images/schedule.svg' %}" alt="" /></span>
						<h2>Schedule</h2>
					</header>

          <!-- Sponsorship -->
          <section class="section">
            <hr>
            <h3>Schedule</h3>
            <p>
		The schedule has now been <a href="https://postgresql.us/events/schedule/pgopen2017/">published</a>!
            </p>
            <hr>
          </section>



        </div>
      </section>
{% endblock %}
