{%extends "base.html" %}
{%block title%}Sponsors | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<span class="header"><img src="{{media("images/sponsors.svg")}}" alt="" /></span>
						<h2>Sponsors</h2>
					</header>

          <!-- Sponsorship -->
          <section class="section">
            <hr>
            <h3>Sponsorship</h3>
            <p>PostgresOpen wouldn't be possible without the support of our wonderful
               sponsors!  If you are interested in sponsoring the conference, please
			   see our <b><a href="{{link("becomesponsor/")}}">sponsoring campaign</a></b> and let us know!
            </p>
            <hr>
          </section>

		<section class="section">
			{% set row_start = cycler('<div class="row text-center">','') %}
			{% set row_end = cycler('','</div>') %}

		  {% for p in diamond %}
		  {{ row_start.next() }}
		  <div class="col-md-6 {% if loop.revindex0 == 0 and loop.length
			   is not divisibleby 2 %} col-md-offset-3 {% endif %}">
					<!-- Diamond -->
						<h3>Diamond</h3>
						<a href="{{p.link}}" target="_blank"><img src="{{media("images/" + p.largelogo)}}" alt="{{p.name}}"></a>
						<div class="caption">
							<small><em>{{p.intro}}</em></small>
						</div>
					</div>
					{% if loop.revindex0 == 0 %}

						</div>
					{% else %}
						{{ row_end.next() }}
					{% endif %}
				{% endfor %}
		</section>

        </div>
      </section>
{% endblock %}
