{%extends "base.html" %}
{%block title%}Register | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
<!-- Main -->
<h1>Tickets</h1>

<hr>
<h3>General Information</h3>
<p>Welcome to the PostgresOpen 2017 Registration section!</p>
<p>Our newly updated ticketing and registration interface works in tandem with your postgresql.org community credentials. If you do not have a login you will be asked to create one.</p>
<p><i>(Please note, your community account will not be shared or spammed in accordance with <a href="{{link("policies/")}}">our policies</a>).</i></p>
<p style="font-weight: 600;font-size: 1.05em;">If you’re ready to acquire tickets - <a href="https://postgresql.us/events/register/pgopen2017/">click here!</a></p>
<!--
            <p>Early Bird Registration will be opening on May 15th, 2017!</p>
-->
<table>
  <thead>
    <tr>
      <th>Registration Type</th>
      <th>Fee</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Early Bird</td>
      <td>$350</td>
      <td>Available until July 9th</td>
    </tr>
    <tr>
      <td>Regular</td>
      <td>$550</td>
      <td>Available to all</td>
    </tr>
    <tr>
      <td>Tutorial</td>
      <td>$200</td>
      <td>Cost is per tutorial session</td>
    </tr>
  </tbody>
</table>
</br>
<!-- End -->
<!-- Begin Overview -->
<h3>A quick overview of how the ticketing process works:</h3>

<ul>
  <li>Log in or create an account with postgresql.org.</li>
  <li>You will be redirected to the Postgres Open registration form page. </li>
  <li>Once you have submitted your information for registration and ticketing, you will see an invoicing page for payment.</li>
  <li>Please continue through the process and pay the invoice immediately or your registration and ticket will not be confirmed.</li>
  <li>Payment for conference tickets is transacted through Braintree Payments.</li>
  <li>Once your payment has been authorized, you will be redirected back to our Postgres Open site and a copy of the transaction receipt
    will be emailed to you in PDF format.</li>
</ul>
<p><a href="https://postgresql.us/events/register/pgopen2017/"><b>Purchase tickets!</b></a></p>
<!--
<p>Early Bird Registration will be opening on May 15th, 2017!</p>
-->
<p>Please let us know if you have any questions or issues with the registration system: program2017@postgresopen.org</p>
            <p>Don’t forget to book your room at the <a href="{{link("venue/")}}">Parc 55</a>!</p>

{% endblock %}
