{%extends "base.html" %}
{%block title%}Venue &amp; Hotel | PostgresOpen 2017{%endblock%}
{%block pagetitle%}PostgresOpen 2017{%endblock%}
{%block content%}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<span class="header"><img id="side" src="{{media("images/venue.svg")}}" alt="" /></span>
						<h2>Venue & Hotel</h2>
					</header>

          <!-- Who we are -->
          <section class="section">
            <hr>
            <h3>Parc 55 Hilton Hotel</h3>

            <p>PostgresOpen 2017 will be held at the Parc 55 Hilton Hotel, Silicon Valley, CA.</p>
            <p>Use <b><a href="https://aws.passkey.com/e/49007744">this link</a></b> to book your reservation!</p>
            <p>Our Conference Group Rate of $239/night for the hotel is available until August 15th, 2017.</p>

            <!-- Contact Info -->
            <ul class="contact-info-list">
              <li>
                <span class="icon"><i class="fa fa-phone"></i></span>
                (415) 392-8000
              </li>
              <li>
                <span class="icon"><i class="fa fa-map-marker"></i></span>
								55 Cyril Magnin St, San Francisco, CA 94102
              </li>
            </ul>
            <!-- Contact Info / End -->
            <hr>
          </section>

          <!-- Things to Do in Silicon Valley -->
          <section>
            <h3>Things to Do in Silicon Valley</h3>

            <ul>
							<li>Catch a bite to eat at the historic restaurant <a href="http://www.johnsgrill.com/">John's Grill</a>, which prepares excellent steaks and expertly prepared fresh seafood.</li>
							<li>Experience an up close and personal musical setting at <a href="http://www.feinsteinsatthenikko.com/">Feinstein's at the Nikko</a>, where a selection of Broadway, jazz, and cabaret music is performed by local musicians daily.</li>
							<li><a href="http://www.ybca.org/">Yerba Buena Center for the Arts</a> offers contemporary selections of art exhibitions, featuring local artists and community based works.</li>
							<li>For classic Irish and international dishes, visit <a href="http://www.johnnyfoleys.com/index.php">Johnny Foley's</a> which offers classic rock n' roll cover bands as well as Dueling Pianos.</li>
							<li>Dine on authentic Italian cuisine in the beautiful restaurant <a href="http://www.kuletos.com/">Kuletos</a>, which features unique meals and an alluring interior.</li>
							<li><a href="http://kinkhao.com/">Kin Khao</a> serves declicious Thai food that is exquisitely handcrafted to be as genuine as possible.</li>
							<li>Looking for a round of golf? <a href="http://www.presidiogolf.com/">Presidio Golf Course & Clubhouse</a> is award-winning and established as a challenging yet stunning golf course.</li>
							<li><a href="http://www.illuminatesf.com/">Illuminate SF</a> is an innovative embrace of modern San Francisco creativity; self-guided tours are offered to visit all the brilliant light art exhibits SF has to offer.</li>
						</ul>
            <hr>
          </section>


          <!-- Airport/Hotel information -->
          <section>

            <h3>Hotel Information</h3>

            <p>The Parc 55 Hilton Hotel is located in San Francisco, California, in Silicon Valley. </p>
            <hr>
          </section>
          <section>
            <h3>Airport Information</h3>

            <p>The Parc 55 Hilton Hotel is about a 30-45 minute taxi ride from San Francisco International Airport (SFO). Additional directions can be found <a href="http://www.parc55hotel.com/map-directions/" target="new">on the hotel's website</a><br>
							<a href="https://www.tripadvisor.com/Travel-g60713-s301/San-Francisco:California:Arriving.And.Departing.html">This link</a> provides information on various transportation options there are surrounding the San Francisco Airport to get downtown.</p>
            <hr>
          </section>

        </div>
      </section>
{% endblock %}
